.list-new {
	margin-top: 8px;
}
.station-list .td-for-edit {
	width: 40px !important;
	padding-top: 6px !important;
}
.station-list .td-for-delete {
	width: 43px !important;
	padding-top: 6px !important;
}
.station-list td.col-1 {
	font-weight: bold;
	font-size: 15px;
}
.station-list td.col-2 {
	font-weight: bold;
	font-size: 14px;
}
.station-list td, .station-list th {
	cursor: pointer;
	padding-left: 5px !important;
	padding-right: 2px !important;
	padding-top: 9px !important;
	padding-bottom: 5px !important;
	font-size: 13px;
	line-height: 20px;
}
.station-list th {
	font-size: 12px !important;
}
.station-list {
	margin: 26px 0 100px 0;
}
.dialog .btn {
	position: absolute;
	top: 10px;
	right: 10px;
}
.navbar-default {
	border-radius: 0;
	-webkit-border-radius: 0; 
  	-moz-border-radius: 0; 
}
.station-form {
	margin: 0 0 150px;
}
.navbar .navbar-form {
	margin: 0 -21px 0 0 !important;
}
.station-form-submit {
	margin: 30px 0 0 0;
}
.gravatar {
	border: 2px solid #ccc;
	border-radius: 8px;
}
.nav-list .nav-header {
	padding-top: 20px !important;
}
.nav-list-vivid .nav-header:first-child {
	padding-top: 10px !important;
}
.dialog {
  padding: 16px 0 20px 17px;
  text-align: left;
}
.station-list .btn {
	opacity: .2 !important;
}
.station-list tr:hover .btn-default, .station-list tr:hover .btn-danger:hover {
	opacity: 1 !important;
}
.form-canceler {
	display: block;
	float: left;
	line-height: 111px;
	margin: 0 0 0 22px;
}
.station-form-submit {
	float: left;
	display: block;
}
.station-form .radio-wrap {
    width: 100%;
    clear: both;
    float: left;
    min-height: 75px;
}
.station-form label.radio {
    float: left;
    margin: 0 25px 11px 0;
    cursor: pointer;
}
.station-form .label-wrap span {
	display: block;
	float: right;
	font-size: 12px;
	line-height: 39px;
	margin: 0 4px 0 0;
	color: #888;
}
#sidebar {
	margin-bottom: 20px;
}
.input-group.with-append {
	width: 270px;
}